<div class="container">
  <h2 class="mt-3">Add a Article</h2>

  <%= simple_form_for @article do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "name" }%>
      <%= f.input :price,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "price" } %>
      <%= f.input :description,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "description" } %>
      <%= f.input :image_url, as: :file %>
      <%= f.input :service_type,
                  required: true,
                  input_html: { autocomplete: "service type" } %>
    </div>

    <div class="form-actions btn btn-outline-dark">
      <%= f.button :submit, "Add Article" %>
    </div>
  <% end %>
</div>
