<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner.png')%>)">
    <div class="sign sign-in">
      <a href="/users/sign_in" class="btn btn-outline-light">Login</a>
    </div>
    <div class="container text-center">
      <h1>Rent a Dream</h1>
      <h2 class="text-light"> Let all your wildest dreams come true</h2>
      <i class="fa-solid fa-chevron-down"></i>
      <div class="sign sign-up">
        <a class="btn btn-outline-light" href="/users/sign_up">Register</a>
      </div>
    </div>
  </div>
</div>
<%= render "shared/navbar"  %>
<div class="container-articles">
  <div class="category">
    <div class="icon-1">
      <div class="icon"><i class="fa-solid fa-jet-fighter"></i></div>
      <div class="text-category">
        <h3>Travel</h3>
      </div>
    </div>
    <div class="icon-2">
      <div class="icon"><i class="fa-solid fa-star"></i></div>
      <div class="text-category">
        <h3>Experience</h3>
      </div>
    </div>
    <div class="icon-3">
      <div class="icon"><i class="fa-solid fa-dragon"></i></div>
      <div class="text-category">
        <h3>Exotic</h3>
      </div>
    </div>
    <div class="icon-4">
      <div class="icon"><i class="fa-solid fa-martini-glass-citrus"></i></div>
      <div class="text-category">
        <h3>Event</h3>
      </div>
    </div>
  </div>
  <h1>Our offering</h1>
    <div class="cards">
      <% @articles.each do |article| %>
        <div  data-bs-toggle="modal" data-bs-target="#article_<%=article.id%>" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= article.image_url %>)">
          <div class="text-card"><%= article.name.capitalize %></div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="article_<%=article.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <div class="header-article">
                  <h2 class="modal-title fs-5" id="exampleModalLabel"><%= article.name.capitalize %></h2>
                </div>
                <div class="exit-button">
                  <button data-bs-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i></button>
                </div>
              </div>
              <div class="modal-body"> <!-- Ajouter display flex, justify-content: in between-->
                <%# <div class="article-photo"> %>
                  <img src="<%=article.image_url %>" alt="article image">
                <%# </div> %>
                <div class="article-description">
                  <p><%= article.description %></p>
                  <button type="button" class="btn btn-availability">Look for availabilities</button> <!--code CSS for button [text-color #881212, btn color: #C5A1A1 opacity:70% border-radius 20px, font size 22 policy: italiana]+ add a calendar via bootstrap-->
                </div>
              </div>

              <div class="modal-footer">
                <p>Starting Price: $ <%= article.price%> </p> <!--code CSS to display price in botton right corner-->
                <!-- insert Price + "Prices are subject to change, contact the vendor for more information"-->
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>


</div>
